@model IEnumerable<Toko_Buku.Models.databuku>

@{
    ViewData["Title"] = "Added";
}

<h1>Added</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Judul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
        </tr>
}
    </tbody>
</table>
